{% extends ['auth/base.html.twig'] %}


{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="col-md-4 offset-md-4 add-new-user-form-card my-3 px-3 py-5">

        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="mt-1 mb-4 alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="card login-form">
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.save) }}
            </div>
        </div>

    </div>

    {{ form_end(form) }}
{% endblock %}
