{% extends ['auth/base.html.twig'] %}


{% block body %}
    {{ form_start(form) }}
    <div class="col-md-4 offset-md-4 custom-card my-3 px-3 py-5">
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        {% for message in app.flashes('notice') %}
            {% if message == 'Podany adres email nie istnieje, skontaktuj się z administratorem' %}
                {% set alert_class = 'modal-content-error' %}
            {% else %}
                {% set alert_class = 'modal-content-error' %}
            {% endif %}
            <div class="modal fade alert-modal">
                <div class="modal-dialog" role="document">
                    <div class="{{ alert_class }}">
                        <div class="modal-header">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            {{ form_row(form.save) }}
        </div>

    </div>

    {{ form_end(form) }}
{% endblock %}
